# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env

# Virtual environment
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS cruft
.DS_Store
Thumbs.db

input_videos
iterative_video_transformation_output
main2.ipynb